{% extends "port/base.html" %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'port/abt.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    {% comment %} <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
            
        </div> {% endcomment %}
        <body>
        <div id="fullpage">
        <div class="section" data-anchor="skills">
    <div class="content">
      <h1 class="wow fadeInDown" data-wow-delay="0.2s">ABOUT ME</h1>
      <p class="wow fadeInDown" data-wow-delay="0.2s">Hi, I am Olamide Ajayi a Web devloper and Back-End coder. Focused on building my imaginations</p>
      <p><span id="holder"></span><span class="blinking-cursor">|</span></p>

      <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #DD1E2F;"><span>PYTHON</span></div>
          <div class="skillbar-bar" style="background: #DD1E2F;"></div>
          <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #EBB035;"><span>DJANGO</span></div>
          <div class="skillbar-bar" style="background: #EBB035;"></div>
          <div class="skill-bar-percent">80%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #218559;"><span>KIVY</span></div>
          <div class="skillbar-bar" style="background: #218559;"></div>
          <div class="skill-bar-percent">75%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="45%">
          <div class="skillbar-title" style="background: #6840D4;"><span>HTML</span></div>
          <div class="skillbar-bar" style="background: #6840D4;"></div>
          <div class="skill-bar-percent">45%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #06A2CB;"><span>CSS</span></div>
          <div class="skillbar-bar" style="background: #06A2CB;"></div>
          <div class="skill-bar-percent">30%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="20%">
          <div class="skillbar-title" style="background: #AB4DD2;"><span>JAVASCRIPT</span></div>
          <div class="skillbar-bar" style="background: #AB4DD2;"></div>
          <div class="skill-bar-percent">20%</div>
        </div> <!-- End Skill Bar -->
      </div>
      <a href="{% url 'blog' %}"><i style="font-size:40px" class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
    <a href="{% url 'contact' %}"><i style="font-size:40px" class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
  </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'port/abt.js' %}"></script>
</body>
{% endblock content %}